<h3>Q no 1 : you have some strings in variable text your task is to make a list of capital letters only using list comprehension and print that list</h3>
<h4>Hint! explore isUpper() method then do this</h4>

In [1]:
text=["HafsA","Rameen","huDa"]
cap_letters=[]
for x in text:
    for y in x:
        if y.isupper()==True:
            cap_letters.append(y)
print(cap_letters)

['H', 'A', 'R', 'D']

In [13]:
print(text)
[y for x in text for y in x if y.isupper()==True]

['HafsA', 'Rameen', 'huDa']

['H', 'A', 'R', 'D']

<h3>Q no 2: Make a list of numbers from 0 to 20 which is divisible by 2 using list comprehension</h3>

In [20]:
list=[x for x in range(21)]
print("List from 0 to 20",list)
new_list=[y for y in list if y%2==0]
print("List of the numbers divisible by 2:",new_list)

List from 0 to 20 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
List of the numbers divisible by 2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

<h3>Q no 3 : Find all of the numbers from 1-1000 that are divisible by 7 by making a list using list comprehension and print it</h3>

In [29]:
list1=[x for x in range(1,1001)]
newlist=[y for y in list1 if y%7==0]
print("list of the numbers that are divisible by 7:",newlist)

list of the numbers that are divisible by 7: [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

<h3>Q no 4 : Count the number of spaces in a string below using list comprehension and print the result</h3>

In [2]:
ex_list=["hey this is hafsa","how are you?","What's Up?"]
count=0
for x in ex_list:
    for y in x:
        if y==' ':
            count=count+1
print("Total number of SPACES are:",count)

Total number of SPACES are: 6

<h3>Q no 5 : Write a script that draws a triangle as below:</h3>

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [5]:
a=1
y=0
for x in range(12):
    while y<=x:
        print('*'*a)
        a=a+1
        y=y+1

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

<h3>Q no 6 : Write a script that draws a geometric shape as below:</h3>

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [15]:
a=1
y=0
for x in range(7):
    while y<=x:
        print('*'*a)
        a=a+1
        y=y+1
a=a-1
z=0
for x in range(7):
    while z<=y-1:
        print('*'*a)
        a=a-1
        y=y-1

*
**
***
****
*****
******
*******
*******
******
*****
****
***
**
*

<h3>Q no 7 :Find all of the words in a string that are less than 4 letters using list comprehension</h3>

In [21]:
alist=['Hafsa','Rameen','LEO','Abc']
[x for x in alist if len(x)<4]

['LEO', 'Abc']